.side-bar {
    position: fixed;
    width: 300px;
    background-color: var(--c-gr-4);
    height: 100vh;
    border-right: 1px solid var(--c-gr-3);
    margin-top: 40px;

}

.side_link:hover {
    color: var(--c-prm-2);
}