.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 0;
    padding: var(--s-sm) var(--s-lg);
    border-top: 1px solid var(--c-gr-3);
}
