:root {
    --c-prm-1: #ffff;
    --c-prm-5: #edfe;
    --c-prm-9: #ddd;
    --c-gr-1: #efef;
    --c-gr-5: #efef;
    --c-gr-9: #efef;
    --c-scc: #00ff00;
    --c-err: #ff0000;

    --s-xs: .75rem; 
    --s-sm: .5rem;
    --s-md: 1rem; 
    --s-lg: 2rem;

    --f-sm: .875rem;
    --f-md: 1rem;
    --f-lg: 1.5rem;

    --br-df: .5rem;
    --br-pl: 9999px;
}

body {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
