:root {
    --c-prm-1: #30855A;
    --c-prm-2: #48BB77;
    --c-prm-3: #9AE7B4;
    --c-prm-4: #C6F6D6;

    --c-gr-1: #222422;
    --c-gr-2: #4E514E;
    --c-gr-3: #CFD2CE;
    --c-gr-4: #F6F6F6;

    --c-scc: #00ff00;
    --c-err: #ff0000;

    --s-xs: .75rem; 
    --s-sm: .5rem;
    --s-md: 1rem; 
    --s-lg: 2rem;

    --f-sm: .875rem;
    --f-md: 1rem;
    --f-lg: 1.5rem;

    --br-df: .5rem;
    --br-pl: 9999px;
}

body {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
