:root {
    --c-prm-1: #30855A;
    --c-prm-2: #48BB77;
    --c-prm-3: #9AE7B4;
    --c-prm-4: #C6F6D6;

    --c-gr-1: #222422;
    --c-gr-2: #4E514E;
    --c-gr-3: #CFD2CE;
    --c-gr-4: #F6F6F6;

    --c-scc: #00ff00;
    --c-err: #ff0000;

    --s-xs: .75rem; 
    --s-sm: .5rem;
    --s-md: 1rem; 
    --s-lg: 2rem;

    --f-sm: .875rem;
    --f-md: 1rem;
    --f-lg: 1.5rem;

    --br-df: .5rem;
    --br-pl: 9999px;

    color-scheme: light dark;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: system-ui, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",sans-serif;
}

ul, ol {
  list-style: none;
}

a {  text-decoration: none; }

input::file-selector-button {
  font-weight: bold;
  border: 1px solid #ccc;
  margin-left: 8px;
  border-radius: 8px;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: var(--c-gr-4);
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
  .footer, .nav-bar, .side-bar, .card {
    background-color: white;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #ffffff;
    background-color: #111;
  }
  a:hover {
    color: #746bff;
  }
  button {
    background-color: #f8f9f9;
  }
  .footer, .nav-bar, .side-bar, .card {
    background-color: var(--c-gr-1);
    border-color: var(--c-gr-2);
  }
}
