.nav-bar {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    padding: var(--s-sm) var(--s-lg);

    background-color: var(--c-gr-4);
    border-bottom: 1px solid var(--c-gr-3);

    z-index: 1;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_srch {
   max-width: 500px;
    padding: var(--s-sm) var(--s-md);
    border: 1px solid #fff;
    border-radius: var(--br-pl);
    font-size: var(--f-sm);
}
